doctype html
html
    head
        title="profile"
        body
            h2 your profile
            p name: #{name}
            p surname: #{surname}
            p date : #{date}
            p color: #{color}